In [29]:
print('Hello')

Hello

In [1]:
# Python 3.6 allows you to specify typing info
x: int = 1

In [2]:
# ...but ignores it. Use mypy to check typing.
x = 3.5

In [40]:
print('Hey, %s is %8d!' % ('x', 1))

Hey, x is        1!

In [39]:
print('Hey, {} is {:8}!'.format('x', 1))

Hey, x is        1!

In [41]:
print('Hey, {0} is {0} and {2} is {1}'.format('x', 'y', 3))

Hey, x is x and 3 is y

In [42]:
print('Hey, {0:,} is {0:_} and {0:8d} is {0}'.format(123456))

Hey, 123,456 is 123_456 and   123456 is 123456

In [3]:
n = 123_456

In [43]:
print(1, 2, 3, sep='/')

1/2/3

In [44]:
print(1, 2, 3, end=' ')
print(4, 5, 6)

1 2 3 4 5 6

In [45]:
%%python
# this cell will be run in Python 2
print('hi')

hi

In [46]:
%%python
# this cell will be run in Python 2
print(1, 2, 3)

(1, 2, 3)

In [47]:
%%python
# this cell will be run in Python 2
from __future__ import print_function
print(1, 2, 3, sep='/', end='')
print('blah')

1/2/3blah

In [48]:
%%python
print(3 / 2)

1

In [49]:
3 / 2

1.5

In [50]:
%%python
from __future__ import division
print(3 / 2)

1.5

In [4]:
x = 1
y = 1

In [53]:
id(x), id(y), x == y, x is y

(4297623936, 4297623936, True, True)

In [5]:
x = 1234
y = 1234

In [55]:
id(x), id(y), x == y, x is y

(4443758960, 4443759024, True, False)

In [6]:
n = None

In [57]:
if n is None:
    print('it is None')

it is None

In [58]:
from mymodule import *

__name__ = mymodule

In [7]:
dir()

['In',
 'Out',
 '_',
 '__',
 '___',
 '__annotations__',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i2',
 '_i3',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 '_sh',
 'exit',
 'get_ipython',
 'n',
 'quit',
 'x',
 'y']

In [8]:
x = 1
y = 5

In [9]:
# swap x and y using tuples
x, y = y, x

In [10]:
x, y

(5, 1)

In [12]:
# a function which returns "multiple values"
q, r = divmod(9, 7)

In [13]:
q

1

In [14]:
r

2

In [15]:
# new to Python 3+
x, y, z, *rest = 1, 2, 3, 4, 5, 6, 7

In [16]:
rest

[4, 5, 6, 7]

In [17]:
%%python
x, y, z, *rest = 1, 2, 3, 4, 5, 6, 7

  File "<stdin>", line 1
    x, y, z, *rest = 1, 2, 3, 4, 5, 6, 7
             ^
SyntaxError: invalid syntax

In [18]:
%%python
d = {}
d['tall'] = 12
d['grande'] = 16
d['venti'] = 20
print(d)
# keys() function is a view, which is dynamic
keys = d.keys()
# a snapshot of the keys() gives us a static list
print('keys are', d.keys())
print('values are', d.values())
print('items are', d.items())
d['trenta'] = 31
print(keys)

{'tall': 12, 'venti': 20, 'grande': 16}
('keys are', ['tall', 'venti', 'grande'])
('values are', [12, 20, 16])
('items are', [('tall', 12), ('venti', 20), ('grande', 16)])
['tall', 'venti', 'grande']

In [19]:
d = {}
d['tall'] = 12
d['grande'] = 16
d['venti'] = 20
print(d)
# keys() function is a view, which is dynamic
keys = d.keys()
# a snapshot of the keys() gives us a static list
print('keys are', d.keys())
print('values are', d.values())
print('items are', d.items())
d['trenta'] = 31
print(keys)

{'tall': 12, 'grande': 16, 'venti': 20}
keys are dict_keys(['tall', 'grande', 'venti'])
values are dict_values([12, 16, 20])
items are dict_items([('tall', 12), ('grande', 16), ('venti', 20)])
dict_keys(['tall', 'grande', 'venti', 'trenta'])

In [20]:
%%python
d = {}
d['tall'] = 12
d['grande'] = 16
d['venti'] = 20
print(d)
# a snapshot of the keys() gives us a static list
keys = list(d.keys())
print('keys are', d.keys())
print('values are', d.values())
print('items are', d.items())
d['trenta'] = 31
print(keys)

{'tall': 12, 'venti': 20, 'grande': 16}
('keys are', ['tall', 'venti', 'grande'])
('values are', [12, 20, 16])
('items are', [('tall', 12), ('venti', 20), ('grande', 16)])
['tall', 'venti', 'grande']

In [21]:
id(sorted)

4302545112

In [22]:
list1 = [1, 2, 3]

In [23]:
# we use methods to modify objects in place
list1.append(4)

In [24]:
list1

[1, 2, 3, 4]

In [25]:
class Person(object):
    pass

In [26]:
p = Person()

In [27]:
type(p)

__main__.Person

In [28]:
type(x)

int

In [29]:
class Person(object):
    def __init__(self, name):
        self.name = name

In [30]:
p1 = Person('Marc Benioff')

In [31]:
type(p1)

__main__.Person

In [32]:
p1.name

'Marc Benioff'

In [33]:
p2 = Person('Narendra Modi')

In [34]:
p2

In [35]:
p2.name

'Narendra Modi'

In [36]:
p1.name = 'Barack Obama'

In [37]:
p1.name

'Barack Obama'

In [38]:
del p1

In [39]:
from bank import BankAccount

In [40]:
acc1 = BankAccount('Ram Nath Kovind', 100)

In [41]:
dir(acc1)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'balance',
 'deposit',
 'name',
 'withdraw']

In [42]:
str(4)

'4'

In [43]:
x = 4

In [44]:
str(x)

'4'

In [45]:
x.__str__()

'4'

In [46]:
mylist = [1, 2, 3]

In [47]:
str(mylist)

'[1, 2, 3]'

In [48]:
mylist.__str__()

'[1, 2, 3]'

In [49]:
print(mylist)

[1, 2, 3]

In [50]:
repr(4)

'4'

In [51]:
repr('string')

"'string'"

In [52]:
repr(x)

'4'

In [53]:
x.__repr__()

'4'

In [54]:
import datetime

In [55]:
mydate = datetime.datetime(2017, 11, 15, 12, 19, 23, 166556)

In [56]:
print(mydate)

2017-11-15 12:19:23.166556

In [57]:
somestring = repr(mydate)

In [58]:
somestring

'datetime.datetime(2017, 11, 15, 12, 19, 23, 166556)'

In [59]:
newdate = eval(somestring)
print(newdate)

2017-11-15 12:19:23.166556

In [60]:
z = 1
z = eval('z + 1')

In [61]:
z

2

In [62]:
from bank2 import BankAccount

In [63]:
a = BankAccount('Dave', 100)

In [64]:
a

BankAccount('Dave', 100)

In [65]:
print(a)

in the __str__() function
Dave 100

In [66]:
len('hello')

5

In [67]:
'hello'.__len__()

5

In [68]:
x = 1

In [69]:
x.__len__()

AttributeError: 'int' object has no attribute '__len__'

In [70]:
len(x)

TypeError: object of type 'int' has no len()

In [71]:
from bank import BankAccount

In [72]:
a1 = BankAccount('Dave', 100)
a2 = BankAccount('Dave', 100)

In [73]:
a1 == a1

True

In [74]:
a1 * 2

TypeError: unsupported operand type(s) for *: 'BankAccount' and 'int'

In [75]:
from calculator import Calc

In [76]:
c = Calc()

In [77]:
c.add(2, 5)

7

In [78]:
print(c)

2 + 5 = 7

In [79]:
c.add(3)

10

In [80]:
print(c)

2 + 5 = 7
7 + 3 = 10

In [81]:
!cat bank.py

class BankAccount():
    def __init__(self, name, initial_balance):
        self.name = name
        self.balance = initial_balance

    def deposit(self, amount):
        if amount > 0:
            self.balance += amount
            return self.balance
        else:
            print("can't deposit nonpositive amount!")

    def withdraw(self, amount):
        if amount > 0:
            if amount <= self.balance:
                self.balance -= amount
                return self.balance
            else:
                print("can't withdraw", amount, "or you would be overdrawn!")
        else:
            print("can't withdraw nonpositive amount!")

In [82]:
class BankAccount(object):
    def __init__(self, name, initial_balance):
        self.name = name
        self.balance = initial_balance

    def __str__(self):
        return self.name + ' Rs.' + str(self.balance)
    
    def __eq__(self, other):
        # other is another bank account
        return self.balance == other.balance
        # or
        return self.balance == other.balance and self.name == other.name
        
    def __mul__(self, other):
        # other is an integer
        return BankAccount(self.name + '*', self.balance * other)
    
    def deposit(self, amount):
        if amount > 0:
            self.balance += amount
            return self.balance
        else:
            print("can't deposit nonpositive amount!")

    def withdraw(self, amount):
        if amount > 0:
            if amount <= self.balance:
                self.balance -= amount
                return self.balance
            else:
                print("can't withdraw", amount, "or you would be overdrawn!")
        else:
            print("can't withdraw nonpositive amount!")

In [83]:
a1 = BankAccount('Dave', 100)
a2 = BankAccount('Balaji', 100)

In [84]:
print(a1)

Dave Rs.100

In [85]:
a1 == a2

True

In [86]:
a1 = a1 * 2

In [87]:
print(a1)

Dave* Rs.200

In [88]:
def myfunc(x, y=None):
    if y is not None:
        return x + y
    else:
        return x + running_total

In [89]:
def myfunc(*args, **kwargs):
    print(args)
    print(kwargs)

In [90]:
myfunc(1, 2, 3, [1, 2, 3], x=1, y='hello', z={ 'j': 'jay '})

(1, 2, 3, [1, 2, 3])
{'x': 1, 'y': 'hello', 'z': {'j': 'jay '}}

In [91]:
class Calculator(object):
    def __init__(self):
        # init does same thing as ac(), so just call ac()
        self.ac()
        
    def __str__(self):
        # str is same as showcalc()
        return self.showcalc()
    
    def __eq__(self, other):
        return self.running_total == other.running_total
    
    def __add__(self, other):
        # + means add running total of the two calculators...
        # ...and also add the calculation lists together
        newcalc = Calculator()
        newcalc.running_total = self.running_total + other.running_total
        newcalc.calculations = self.calculations + other.calculations
        return newcalc
    
    def __len__(self):
        return len(self.calculations)
    
    def ac(self):
        self.running_total = 0
        self.calculations = []
        return 0
        
    def add(self, op1, op2=None):
        return self.do_calc(op1, op2, '+')
    
    def sub(self, op1, op2=None):
        return self.do_calc(op1, op2, '-')
    
    def mul(self, op1, op2=None):
        return self.do_calc(op1, op2, '*')
    
    def div(self, op1, op2=None):
        return self.do_calc(op1, op2, '/')
    
    def do_calc(self, op1, op2, oper):
        # method to do calculations
        # eval(...) will run the Python code passed to it
        if op2 is None:
            op2, op1 = op1, self.running_total
        self.running_total = eval('{} {} {}'.format(op1, oper, op2))
        self.calculations.append('{} {} {} = {}'.format(op1, oper, op2, self.running_total))
        return self.running_total

    def showcalc(self):
        if len(self.calculations):
            return '\n'.join(self.calculations)
        else:
            return 'no calculations'

In [92]:
c1 = Calculator()
c2 = Calculator()

In [93]:
c1.add(2, 3)

5

In [94]:
c2.div(20, 7)

2.857142857142857

In [95]:
c3 = c1 + c2

In [96]:
print(c3, c3.running_total, sep='\n')

2 + 3 = 5
20 / 7 = 2.857142857142857
7.857142857142858

In [97]:
c1.add(15)
print(len(c1))

2

In [98]:
print(c1)

2 + 3 = 5
5 + 15 = 20

In [99]:
c1.ac()
c1.add(1, 2)
print(c1, c1 == c2)

1 + 2 = 3 False

In [100]:
mylist = ['thing 1', 'thing 2', 'thing 3']

In [101]:
for thing in mylist:
    print(thing)

thing 1
thing 2
thing 3

In [102]:
print('\n'.join(mylist))

thing 1
thing 2
thing 3

In [104]:
mylist = [4] * 10
mylist

[4, 4, 4, 4, 4, 4, 4, 4, 4, 4]

In [105]:
for thing in mylist:
    print(id(thing), end=' ')

4297624032 4297624032 4297624032 4297624032 4297624032 4297624032 4297624032 4297624032 4297624032 4297624032

In [108]:
mylist = [0] * 100
print(mylist)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [109]:
def func(x, y, z):
    print(x, y, z)

In [110]:
func(1, 2, 3)

1 2 3

In [111]:
mylist = [1, 2, 3]

In [112]:
func(*mylist)

1 2 3

In [113]:
func(mylist)

TypeError: func() missing 2 required positional arguments: 'y' and 'z'

In [114]:
mydict = { 'x': True, 'y' : 1, 'z': 'red' }

In [115]:
func(**mydict)

True 1 red

In [116]:
def func(name, group, employee_id):
    print('name =', name)
    print('group =', group)
    print('employee id =', employee_id)

In [117]:
emp_dict = { 'group': 'DB performance', 'name': 'Marc Benioff', 'employee_id': 1 }

In [118]:
func(emp_dict['name'], emp_dict['group'], emp_dict['employee_id'])

name = Marc Benioff
group = DB performance
employee id = 1

In [119]:
func(**emp_dict)

name = Marc Benioff
group = DB performance
employee id = 1

In [120]:
x, y, *rest = 1, 2, 3, 4, 5

In [121]:
rest

[3, 4, 5]

In [122]:
class ZanyInt(int):
    def __str__(self):
        if self == 3:
            return 'three'
        else:
            return '...' + str(int(self))
    
    def __len__(self):
        return self ** 2
    
    def __add__(self, other):
        import random
        
        if random.random() > .80:
            return int(self) + int(other) + random.random()
        else:
            return int(self) + int(other)

In [123]:
z1 = ZanyInt(3)
z2 = ZanyInt(4)
z1 == 3

True

In [124]:
print(z1)
print(z2)

three
...4

In [125]:
print(len(z1))
len(3)

9

TypeError: object of type 'int' has no len()

In [126]:
for i in range(1, 11):
    print(z1 + z2)

7
7
7
7
7.140317675406672
7
7
7
7
7

In [127]:
z1

3

In [128]:
type(z1)

__main__.ZanyInt

In [129]:
p1 = Person('Marc Benioff')

In [130]:
dir(p1)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'name']

In [131]:
p1.name

'Marc Benioff'

In [132]:
p1.foo = 'bar'

In [133]:
dir(p1)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'foo',
 'name']

In [134]:
p1.foo

'bar'

In [135]:
x = 1

In [136]:
del x

In [137]:
x

NameError: name 'x' is not defined

In [138]:
class Person(object):
    # class data not instance data
    instance_count = 0
    allnames = []
    
    def __init__(self, name):
        self.name = name
        #self.__class__.allnames.append(name)
        self.__class__.instance_count += 1
        self.__class__.allnames.append(name)
        
    #def count(self):
        #return len(self.__class__.allnames)
    
    #def names(self):
        #return self.__class__.allnames
    
    def __del__(self):
        self.__class__.allnames.remove(self.name)
        self.__class__.instance_count -= 1

In [139]:
del p1
del p2
p1 = Person('Marc')
p2 = Person('Sardar')

In [140]:
Person.instance_count

2

In [141]:
Person.allnames

['Marc', 'Sardar']

In [142]:
p2.instance_count

2

In [143]:
del p1

In [145]:
Person.allnames

['Sardar']

In [146]:
Person.instance_count

1

In [147]:
del p2

In [148]:
Person.instance_count

0

In [149]:
d = {}

In [150]:
import collections
collections.__file__

'/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/collections/__init__.py'

In [ ]:
# thoughts on how to create an ordered dict
class MyOrderedDict(dict):
    def __init__(self, *args, **kwargs):
        # we will need some sort of ordered datatype, e.g., a list
        self.mydict = [...]
        
    def get(self, key):
        # we will override the .get() method because keys are stored in a list

In [151]:
%%bash
cat > data.txt <<END
apple 2
pear 3
cherry 5
this is a bad line
apple 3
pear 6
apple 1
END

In [152]:
from collections import defaultdict

counter = defaultdict(list)

with open('data.txt', 'r') as f:
    for line in f:
        # assumes we have exactly two words on the line
        # key, val = line.split() 
        # we should do some error checking here to be sure...
        # ...the line is formatted properly
        words = line.split()
        if len(words) == 2:
            key, val = words 
            counter[key].append(val)
        else:
            print('ill-formatted line:', line)

print(counter)

ill-formatted line: this is a bad line

defaultdict(<class 'list'>, {'apple': ['2', '3', '1'], 'pear': ['3', '6'], 'cherry': ['5']})

In [153]:
class MyDefaultDict(dict):
    def __init__(self, type):
        # self is already a dict
        if type == int:
            self.default = 0
        elif type == list:
            self.default = []
        elif type == str:
            self.default = ""
        else:
            raise TypeError

    def __getitem__(self, key):
        return self.get(key)

    def get(self, key):
        print('in get function')

        if key in self:
            return dict(self)[key]
        else:
            return self.default

In [154]:
d = MyDefaultDict(int)

In [155]:
d.get('a')

in get function

0

In [156]:
d['a'] += 1
d['a']

in get function
in get function

1

In [157]:
d = MyDefaultDict(float)

TypeError:

In [158]:
def last_n_lines(filename, n):
    from collections import deque
    lines = deque(maxlen=n)
    
    with open(filename) as f:
        for line in f:
            lines.append(line)
    
    return lines

In [159]:
print(''.join(last_n_lines('poem.txt', 5)))

I shall be telling this with a sigh
Somewhere ages and ages hence:
Two roads diverged in a wood, and I
I took the one less traveled by,
And that has made all the difference.

In [ ]:
# how would we implement a deque?
class deque(list):
    def rotate(self, n):
        # remove n from right
        # if < 0 remove n from left
        # ...and re-insert on other side
        
    def appendleft(self, thing):
        ...

In [160]:
from collections import namedtuple
Card = namedtuple('Card', 'rank suit')

In [161]:
c = Card('2', 'hearts')
c

Card(rank='2', suit='hearts')

In [164]:
ranks = [str(num) for num in range(2, 11)] + list('JQKA')
ranks

['2', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A']

In [165]:
suits = 'clubs diamonds hearts spades'.split()
suits

['clubs', 'diamonds', 'hearts', 'spades']

In [166]:
deck = []

for rank in ranks:
    for suit in suits:
        deck.append(Card(rank, suit))

In [167]:
deck = [Card(rank, suit) for rank in ranks
                         for suit in suits]
deck

[Card(rank='2', suit='clubs'),
 Card(rank='2', suit='diamonds'),
 Card(rank='2', suit='hearts'),
 Card(rank='2', suit='spades'),
 Card(rank='3', suit='clubs'),
 Card(rank='3', suit='diamonds'),
 Card(rank='3', suit='hearts'),
 Card(rank='3', suit='spades'),
 Card(rank='4', suit='clubs'),
 Card(rank='4', suit='diamonds'),
 Card(rank='4', suit='hearts'),
 Card(rank='4', suit='spades'),
 Card(rank='5', suit='clubs'),
 Card(rank='5', suit='diamonds'),
 Card(rank='5', suit='hearts'),
 Card(rank='5', suit='spades'),
 Card(rank='6', suit='clubs'),
 Card(rank='6', suit='diamonds'),
 Card(rank='6', suit='hearts'),
 Card(rank='6', suit='spades'),
 Card(rank='7', suit='clubs'),
 Card(rank='7', suit='diamonds'),
 Card(rank='7', suit='hearts'),
 Card(rank='7', suit='spades'),
 Card(rank='8', suit='clubs'),
 Card(rank='8', suit='diamonds'),
 Card(rank='8', suit='hearts'),
 Card(rank='8', suit='spades'),
 Card(rank='9', suit='clubs'),
 Card(rank='9', suit='diamonds'),
 Card(rank='9', suit='hearts'),
 Card(rank='9', suit='spades'),
 Card(rank='10', suit='clubs'),
 Card(rank='10', suit='diamonds'),
 Card(rank='10', suit='hearts'),
 Card(rank='10', suit='spades'),
 Card(rank='J', suit='clubs'),
 Card(rank='J', suit='diamonds'),
 Card(rank='J', suit='hearts'),
 Card(rank='J', suit='spades'),
 Card(rank='Q', suit='clubs'),
 Card(rank='Q', suit='diamonds'),
 Card(rank='Q', suit='hearts'),
 Card(rank='Q', suit='spades'),
 Card(rank='K', suit='clubs'),
 Card(rank='K', suit='diamonds'),
 Card(rank='K', suit='hearts'),
 Card(rank='K', suit='spades'),
 Card(rank='A', suit='clubs'),
 Card(rank='A', suit='diamonds'),
 Card(rank='A', suit='hearts'),
 Card(rank='A', suit='spades')]

In [169]:
import random
random.shuffle(deck)
deck

[Card(rank='K', suit='diamonds'),
 Card(rank='3', suit='clubs'),
 Card(rank='8', suit='clubs'),
 Card(rank='8', suit='spades'),
 Card(rank='2', suit='clubs'),
 Card(rank='10', suit='diamonds'),
 Card(rank='K', suit='hearts'),
 Card(rank='9', suit='spades'),
 Card(rank='8', suit='hearts'),
 Card(rank='6', suit='diamonds'),
 Card(rank='J', suit='diamonds'),
 Card(rank='4', suit='spades'),
 Card(rank='2', suit='spades'),
 Card(rank='A', suit='clubs'),
 Card(rank='2', suit='diamonds'),
 Card(rank='3', suit='diamonds'),
 Card(rank='Q', suit='spades'),
 Card(rank='6', suit='spades'),
 Card(rank='6', suit='hearts'),
 Card(rank='2', suit='hearts'),
 Card(rank='7', suit='hearts'),
 Card(rank='4', suit='hearts'),
 Card(rank='7', suit='spades'),
 Card(rank='A', suit='hearts'),
 Card(rank='9', suit='diamonds'),
 Card(rank='5', suit='hearts'),
 Card(rank='J', suit='clubs'),
 Card(rank='A', suit='spades'),
 Card(rank='10', suit='clubs'),
 Card(rank='9', suit='clubs'),
 Card(rank='5', suit='spades'),
 Card(rank='A', suit='diamonds'),
 Card(rank='3', suit='hearts'),
 Card(rank='Q', suit='hearts'),
 Card(rank='7', suit='diamonds'),
 Card(rank='5', suit='clubs'),
 Card(rank='Q', suit='diamonds'),
 Card(rank='5', suit='diamonds'),
 Card(rank='K', suit='spades'),
 Card(rank='3', suit='spades'),
 Card(rank='J', suit='spades'),
 Card(rank='8', suit='diamonds'),
 Card(rank='10', suit='spades'),
 Card(rank='K', suit='clubs'),
 Card(rank='4', suit='clubs'),
 Card(rank='J', suit='hearts'),
 Card(rank='Q', suit='clubs'),
 Card(rank='7', suit='clubs'),
 Card(rank='4', suit='diamonds'),
 Card(rank='9', suit='hearts'),
 Card(rank='6', suit='clubs'),
 Card(rank='10', suit='hearts')]

In [170]:
from string import punctuation

line = 'Hi Hamlet, how are you?'

list_of_chars = [char for char in line.lower()
                        if char not in punctuation]

In [171]:
list_of_chars

['h',
 'i',
 ' ',
 'h',
 'a',
 'm',
 'l',
 'e',
 't',
 ' ',
 'h',
 'o',
 'w',
 ' ',
 'a',
 'r',
 'e',
 ' ',
 'y',
 'o',
 'u']

In [172]:
''.join(list_of_chars)

'hi hamlet how are you'

In [173]:
# key=len allows us to pass the len function
# into the sorted function as a parameter
sorted(['apple', 'fig', 'pear'], key=len)

['fig', 'pear', 'apple']

In [174]:
len

In [175]:
id(len)

4302535992

In [176]:
string = 'alphabet soup is tasty'

In [177]:
string[3:8]

'habet'

In [178]:
string[3:14:2]

'hbtsu '

In [179]:
string[:14]

'alphabet soup '

In [180]:
string[14:]

'is tasty'

In [181]:
string[::-1]

'ytsat si puos tebahpla'

In [182]:
food = ['apple', 'banana', 'pear', 'olive']
list(filter(lambda x: x[0] in 'aeiou', food))

['apple', 'olive']

In [183]:
vowel_foods = [word for word in food
                      if word[0] in 'aeiou']
vowel_foods

['apple', 'olive']

In [184]:
def last_n_lines(filename, n, pattern=None):
    from collections import deque
    lines = deque(maxlen=n)
    
    with open(filename) as f:
        for line in f:
            lines.append(line)
    
    if pattern:
        return list(filter(lambda x: pattern in x, lines))
    else:
        return lines

In [185]:
last_n_lines('poem.txt', 10)

deque(['In leaves no step had trodden black.\t\n',
       'Oh, I kept the first for another day!\t\n',
       'Yet knowing how way leads on to way,\t\n',
       'I doubted if I should ever come back.\n',
       ' \n',
       'I shall be telling this with a sigh\t\n',
       'Somewhere ages and ages hence:\t\n',
       'Two roads diverged in a wood, and I\t\n',
       'I took the one less traveled by,\t\n',
       'And that has made all the difference.\n'])

In [186]:
last_n_lines('poem.txt', 10, 'the')

['Oh, I kept the first for another day!\t\n',
 'I took the one less traveled by,\t\n',
 'And that has made all the difference.\n']

In [187]:
def counter_wrap(func):
    def inner(string):
        from collections import Counter
        count = Counter(string)
        for item in count:
            print(item, count[item])
        print('     about to execute', func.__name__)
        # call the remembered function, with string argument
        func(string) 
    # return the inner function
    return inner

In [188]:
@counter_wrap
# printer = counter_wrap(printer)
def printer(s):
    print(s)

In [189]:
printer('syzygy')

s 1
y 3
z 1
g 1
     about to execute printer
syzygy

In [190]:
# a wrapper/decorator tp ensure args are nonnegative
def ensure_positive(func):
    # inner function which does the work
    def decorator(*args):
        # for each arg, make it -arg if it's < 0
        #new_args = [max(arg, -arg) for arg in args]
        new_args = [-arg if arg < 0 else arg for arg in args]
        # now invoke the saved function (func) with NEW arguments
        return func(*new_args)
    # return a reference to inner function
    return decorator

In [191]:
@ensure_positive
def myfunc(x, y, z):
    # want all args to be non-negative
    # that will happen when this function is decorated
    print(x, y, z)

In [192]:
myfunc(1, 2, 3)

1 2 3

In [193]:
myfunc(-3, 1, -5)

3 1 5

In [194]:
# x = y > 0 ? 5 : 7
y = 15
x = 5 if y > 0 else 7

In [195]:
x

5

In [196]:
def myprint(thing):
    print('-' * len(thing), thing, '-' * len(thing), sep='\n')

In [197]:
myprint('hello there')

-----------
hello there
-----------

In [198]:
class Test(object):
    def __init__(self, name):
        self.name = name
    
    def printname(self):
        return self.name

    @staticmethod
    def staticthing():
        print('hello')

In [199]:
t = Test('foo')

In [200]:
t.printname()

'foo'

In [201]:
Test.printname(t)

'foo'

In [202]:
t.staticthing()

hello

In [203]:
Test.staticthing("hello")

TypeError: staticthing() takes 0 positional arguments but 1 was given

In [204]:
t.staticthing('hello')

TypeError: staticthing() takes 0 positional arguments but 1 was given

In [205]:
Test.staticthing(t, 'hello')

TypeError: staticthing() takes 0 positional arguments but 2 were given

In [206]:
class Example(object):
    __some_data = 'blah'
    __how_many = 0
    
    def __init__(self, val):
        print('in init for Example')
        self.name = val # instance data
        self.__class__.__how_many += 1 # get from object to class
        print('__how_many =', self.__class__.__how_many)

    def __del__(self):
        Example.__how_many -= 1
        
    # We can use a static (or class) method to get around
    # a brittle __init__ that doesn't quite do what we want.
    @staticmethod
    def list_init(somelist):
        '''allow me to send in a list, and "flatten" it
        into a string with intervening commas'''
        obj = Example('')
        obj.name = ', '.join(somelist)
        return obj
    
    @classmethod
    def get_some_data(cls):
        return cls.__some_data

In [207]:
e1 = Example('foo')
e2 = Example('bar')

in init for Example
__how_many = 1
in init for Example
__how_many = 2

In [208]:
Example.get_some_data()

'blah'

In [209]:
Example._Example__how_many

2

In [210]:
e3 = Example.list_init(['a', 'b', 'c'])

in init for Example
__how_many = 3

In [211]:
e3.name

'a, b, c'

In [212]:
class Person(object):
    # class data, owned by the class and shared by all instances
    __instance_count = 0
    __allnames = []
    
    def __init__(self, name):
        self.name = name # instance data, specific to the instance
        # once I create a new object, I want to increment the object
        # count inside the class, and also add the object's name to
        # the list that lives inside the class
        self.__class__.__instance_count += 1
        self.__class__.__allnames.append(name)
        
    # this method returns class data, so it should be a class method
    @classmethod
    def count(cls):
        return cls.__instance_count
    
    # this method returns class data, so it should be a class method
    @classmethod
    def names(cls):
        return cls.__allnames
    
    # this method is called when deleting an object, so it has to be
    # an instance method, but it "reaches up into the class" to change
    # class data
    def __del__(self):
        self.__class__.__allnames.remove(self.name)
        self.__class__.__instance_count -= 1

In [213]:
p1 = Person('Marc Benioff')
p2 = Person('Sandeep Kumar')
p3 = Person('Lakshmi Narayana')

In [214]:
Person.count()

3

In [215]:
Person.names()

['Marc Benioff', 'Sandeep Kumar', 'Lakshmi Narayana']

In [216]:
del p1

In [217]:
Person.names()

['Sandeep Kumar', 'Lakshmi Narayana']

In [218]:
Person.count()

2

In [1]:
from threading import Thread
import random
import time

class DatabaseServer(Thread):
    def __init__(self):
        self.stopped = False
        super().__init__()
        
    def run(self):
        while not self.stopped:
            seconds = random.randint(1, 10)
            # print out that you are "processing a DB reuqest"
            print('Database server processing request for %d seconds' % seconds)
            # sleep for a random interval
            time.sleep(seconds)
        print('DB server received termination request.')

mylist = []
my_db_sever = DatabaseServer()
my_db_sever.start()

while True:
    word = input('Enter a word: ')
    if word == 'quit':
        my_db_sever.stopped = True
        break
    else:
        mylist.append(word)
        print('current list:', mylist)

Database server processing request for 10 seconds
Database server processing request for 8 seconds
Enter a word: hello
current list: ['hello']
Database server processing request for 1 seconds
Enter a word: quit
DB server received termination request.

# Good Python Reference Book
* Fluent Python by Luciano Ramalho

In [221]:
# multiprocessing lab
import random
import math
import time
import os
from multiprocessing.pool import Pool

# use math.factorial() instead
def factorial(n):
    if n == 1:
        return 1
    else:
        return n * factorial(n - 1)

if __name__ == '__main__':
    pool = Pool()

    work_to_be_done = list(range(1, 49))
    results = pool.map(factorial, work_to_be_done)
    
    for value, fact in zip(work_to_be_done, results):
        print("{}! is {}".format(value, fact))

1! is 1
2! is 2
3! is 6
4! is 24
5! is 120
6! is 720
7! is 5040
8! is 40320
9! is 362880
10! is 3628800
11! is 39916800
12! is 479001600
13! is 6227020800
14! is 87178291200
15! is 1307674368000
16! is 20922789888000
17! is 355687428096000
18! is 6402373705728000
19! is 121645100408832000
20! is 2432902008176640000
21! is 51090942171709440000
22! is 1124000727777607680000
23! is 25852016738884976640000
24! is 620448401733239439360000
25! is 15511210043330985984000000
26! is 403291461126605635584000000
27! is 10888869450418352160768000000
28! is 304888344611713860501504000000
29! is 8841761993739701954543616000000
30! is 265252859812191058636308480000000
31! is 8222838654177922817725562880000000
32! is 263130836933693530167218012160000000
33! is 8683317618811886495518194401280000000
34! is 295232799039604140847618609643520000000
35! is 10333147966386144929666651337523200000000
36! is 371993326789901217467999448150835200000000
37! is 13763753091226345046315979581580902400000000
38! is 523022617466601111760007224100074291200000000
39! is 20397882081197443358640281739902897356800000000
40! is 815915283247897734345611269596115894272000000000
41! is 33452526613163807108170062053440751665152000000000
42! is 1405006117752879898543142606244511569936384000000000
43! is 60415263063373835637355132068513997507264512000000000
44! is 2658271574788448768043625811014615890319638528000000000
45! is 119622220865480194561963161495657715064383733760000000000
46! is 5502622159812088949850305428800254892961651752960000000000
47! is 258623241511168180642964355153611979969197632389120000000000
48! is 12413915592536072670862289047373375038521486354677760000000000

In [222]:
[1, 2, 3] + 4

TypeError: can only concatenate list (not "int") to list

In [223]:
[1, 2, 3] + [4]

[1, 2, 3, 4]

In [11]:
%%python
print(range(1, 10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
print(range(1, 10))

range(1, 10)

In [14]:
import pandas as pd

# read the weather data
# display first 10 rowsuse the .head() function
# weather = pd.read_csv('http://bit.ly/1PL3X6t')
weather = pd.read_csv('weather.csv')
weather.head()

,DATE,max_tempF,mean_tempF,min_tempF,max_dew_pointF,mean_dew_pointF,min_dew_pointF,max_humidity,mean_humidity,min_humidity,...,Max VisibilityMiles,Mean VisibilityMiles,Min VisibilityMiles,Max Wind SpeedMPH,Mean Wind SpeedMPH,Max Gust SpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,2012-3-10,56,40,24,24,20,16,74,50,26,...,10,10,10,13,6,17.0,0.00,0,NaN,138
1,2012-3-11,67,49,30,43,31,24,78,53,28,...,10,10,10,22,7,32.0,0.00,1,Rain,163
2,2012-3-12,71,62,53,59,55,43,90,76,61,...,10,10,6,24,14,36.0,0.03,6,Rain,190
3,2012-3-13,76,63,50,57,53,47,93,66,38,...,10,10,4,16,5,24.0,0.00,0,NaN,242
4,2012-3-14,80,62,44,58,52,43,93,68,42,...,10,10,10,16,6,22.0,0.00,0,NaN,202

In [15]:
# set the index of weather to be DATE
# examine the column PrecipitationIn (precipitation in inches by date)

weather.set_index('DATE', inplace=True)
weather['PrecipitationIn']

DATE
2012-3-10    0.00
2012-3-11    0.00
2012-3-12    0.03
2012-3-13    0.00
2012-3-14    0.00
2012-3-15    0.04
2012-3-16    0.00
2012-3-17    0.00
2012-3-18    0.00
2012-3-19    0.00
2012-3-20    0.00
2012-3-21    0.00
2012-3-22    0.14
2012-3-23    0.86
2012-3-24    0.06
2012-3-25    0.00
2012-3-26    0.00
2012-3-27    0.00
2012-3-28    0.00
2012-3-29    0.00
2012-3-30    0.01
2012-3-31    0.00
2012-4-1     0.51
2012-4-2     0.01
2012-4-3     0.00
2012-4-4     0.01
2012-4-5     0.69
2012-4-6     0.00
2012-4-7     0.00
2012-4-8     0.00
             ...
2013-2-9     0.00
2013-2-10    0.27
2013-2-11    0.00
2013-2-12    0.00
2013-2-13    0.00
2013-2-14    0.00
2013-2-15    0.00
2013-2-16    0.00
2013-2-17    0.00
2013-2-18    0.39
2013-2-19    0.10
2013-2-20    0.00
2013-2-21    0.30
2013-2-22    0.03
2013-2-23    0.00
2013-2-24    0.00
2013-2-25    0.00
2013-2-26    1.17
2013-2-27    0.05
2013-2-28    0.01
2013-3-1     0.03
2013-3-2     0.00
2013-3-3     0.00
2013-3-4     0.00
2013-3-5     0.26
2013-3-6     0.04
2013-3-7     0.00
2013-3-8     0.00
2013-3-9     0.00
2013-3-10    0.00
Name: PrecipitationIn, dtype: float64

In [19]:
# determine the total amount of precipitation for the entire dataset (there is a .sum() function)
weather['PrecipitationIn'].sum()

35.460000000000001

In [17]:
# determine the total amount of precipitation for the month of February 2013
weather['PrecipitationIn']['2013-2-1':'2013-2-28'].sum()

2.5499999999999994

In [18]:
# create a new DataFrame which only contains the rows of weather for which there was some precipitation
weather_prec = weather[weather['PrecipitationIn'] > 0]
weather_prec

,max_tempF,mean_tempF,min_tempF,max_dew_pointF,mean_dew_pointF,min_dew_pointF,max_humidity,mean_humidity,min_humidity,Max Sea Level PressureIn,...,Max VisibilityMiles,Mean VisibilityMiles,Min VisibilityMiles,Max Wind SpeedMPH,Mean Wind SpeedMPH,Max Gust SpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
DATE,,,,,,,,,,,,,,,,,,,,,
2012-3-12,71,62,53,59,55,43,90,76,61,30.13,...,10,10,6,24,14,36.0,0.03,6,Rain,190
2012-3-15,79,69,58,61,58,53,90,69,48,30.13,...,10,10,10,31,10,41.0,0.04,3,Rain-Thunderstorm,209
2012-3-22,81,69,57,63,57,51,87,65,42,30.11,...,10,10,2,31,4,41.0,0.14,3,Rain,159
2012-3-23,73,64,55,61,58,54,97,79,61,30.03,...,10,9,2,21,6,24.0,0.86,7,Rain-Thunderstorm,129
2012-3-24,65,56,46,54,49,43,100,80,48,29.88,...,10,8,0,12,5,14.0,0.06,5,Fog-Rain,222
2012-3-30,81,66,51,61,50,42,78,59,39,29.93,...,10,10,10,25,11,37.0,0.01,4,Rain-Thunderstorm,182
2012-4-1,79,64,48,62,52,44,96,75,54,29.89,...,10,6,1,24,7,31.0,0.51,4,Rain-Thunderstorm,169
2012-4-2,68,62,55,60,51,45,97,73,48,29.90,...,10,9,5,16,9,21.0,0.01,3,NaN,109
2012-4-4,68,62,55,59,54,42,90,74,57,29.82,...,10,8,3,15,7,18.0,0.01,6,Rain-Thunderstorm,42
2012-4-5,61,53,44,43,35,30,92,64,36,30.01,...,10,9,2,20,12,28.0,0.69,3,Rain,66
2012-4-14,67,59,50,59,52,38,100,76,51,30.10,...,10,5,1,18,7,25.0,1.45,7,Rain-Thunderstorm,176
2012-4-16,73,61,48,62,52,43,97,75,52,30.23,...,10,9,4,30,12,43.0,0.38,5,Rain,233
2012-4-20,73,58,43,53,47,41,93,70,47,29.89,...,10,9,2,21,9,31.0,0.19,5,Rain,273
2012-4-25,73,60,47,61,53,46,100,77,53,29.75,...,10,8,2,16,7,21.0,0.15,2,Rain-Thunderstorm,132
2012-4-28,63,56,48,50,45,30,100,71,41,30.13,...,10,8,2,26,11,33.0,0.49,7,Rain-Thunderstorm,96
2012-4-30,81,69,57,64,61,54,93,73,52,30.04,...,10,8,1,22,7,26.0,0.29,5,Rain-Thunderstorm,239
2012-5-1,79,69,59,70,63,57,100,90,79,30.03,...,10,6,0,26,6,44.0,0.86,6,Fog-Rain-Thunderstorm,189
2012-5-4,80,72,64,68,65,60,93,78,62,30.03,...,10,9,5,17,7,24.0,0.09,6,Rain-Thunderstorm,209
2012-5-7,83,74,64,67,64,60,100,77,54,29.86,...,10,8,1,25,4,35.0,0.90,5,Rain-Thunderstorm,165
2012-5-9,68,58,48,49,46,41,93,68,42,29.92,...,10,10,6,22,6,30.0,0.02,3,Rain,307
2012-5-20,88,74,60,64,60,54,97,67,36,30.13,...,10,9,6,21,3,29.0,0.07,1,Thunderstorm,161
2012-5-21,78,67,55,63,59,47,93,77,60,30.08,...,10,9,4,16,5,23.0,0.03,4,Rain-Thunderstorm,322
2012-5-29,80,70,59,68,65,58,100,77,54,29.90,...,10,10,7,21,4,30.0,0.14,4,Rain-Thunderstorm,213
2012-5-31,78,64,50,62,55,46,93,67,40,29.90,...,10,9,1,15,6,21.0,0.19,4,Rain-Thunderstorm,67
2012-6-1,62,56,50,59,53,47,100,84,67,29.88,...,10,6,1,17,7,23.0,0.01,7,Rain,289
2012-6-2,70,60,49,56,48,44,93,69,44,29.91,...,10,10,5,17,7,24.0,0.03,3,Rain,245
2012-6-4,68,62,56,63,59,54,100,84,68,29.89,...,10,8,1,9,2,23.0,0.13,4,Rain,323
2012-6-17,86,80,73,68,66,64,79,64,48,29.99,...,10,10,10,18,9,25.0,0.02,2,NaN,222
2012-6-18,91,81,70,70,64,60,90,64,38,29.94,...,10,10,8,21,10,29.0,0.01,1,Rain-Thunderstorm,209
2012-7-1,101,84,67,69,66,61,93,61,29,30.03,...,10,10,8,25,6,31.0,0.10,2,Thunderstorm,178
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2012-12-20,57,43,28,50,36,25,92,79,66,29.75,...,10,5,0,35,19,54.0,0.44,8,Fog-Rain-Snow-Thunderstorm,219
2012-12-21,29,26,22,25,19,15,85,74,63,30.21,...,10,5,0,25,14,39.0,0.02,7,Fog-Snow,285
2012-12-24,40,36,31,38,31,26,100,88,75,30.05,...,10,5,0,14,4,21.0,0.04,7,Fog-Rain,304
2012-12-26,33,31,29,29,27,23,92,81,69,30.02,...,10,3,0,28,16,38.0,0.48,8,Fog-Snow,16
2012-12-28,33,31,29,28,26,25,85,80,75,30.13,...,10,8,1,10,4,14.0,0.04,8,Snow,119
2012-12-29,32,28,23,28,25,16,92,80,68,30.29,...,10,3,0,18,9,29.0,0.20,8,Fog-Snow,308
2012-12-31,36,31,25,31,28,21,92,78,64,30.28,...,10,4,0,18,7,28.0,0.12,7,Fog-Snow,228
2013-1-10,47,38,29,45,36,27,96,80,64,30.50,...,10,6,2,17,8,24.0,0.14,6,Rain,120
2013-1-11,59,53,47,54,51,46,100,86,72,29.99,...,10,6,0,26,11,31.0,0.82,6,Fog-Rain,184
2013-1-12,66,61,55,61,55,47,93,80,67,29.99,...,10,7,1,21,8,28.0,1.16,6,Rain,199
2013-1-13,65,45,25,61,37,20,93,87,81,30.24,...,10,5,1,21,7,28.0,1.73,8,Rain,324
2013-1-25,30,25,20,18,12,0,74,57,39,30.35,...,10,8,1,16,7,21.0,0.02,6,Snow,192
2013-1-27,40,31,21,38,24,15,92,72,52,30.40,...,10,6,2,15,9,21.0,0.19,5,Rain,139
2013-1-28,58,49,39,55,48,37,96,84,71,30.10,...,10,4,2,28,13,41.0,0.40,8,Rain,202
2013-1-30,68,48,27,57,42,20,96,82,68,29.70,...,10,7,2,39,14,63.0,0.99,8,Rain-Snow,260
2013-1-31,31,21,10,22,14,-2,81,67,53,30.19,...,10,6,0,28,15,38.0,0.01,7,Fog-Snow,284
2013-2-2,30,22,14,22,18,7,84,71,58,30.30,...,10,6,1,20,9,28.0,0.08,8,Snow,237
2013-2-4,40,26,12,29,23,11,92,72,52,30.12,...,10,7,1,21,6,25.0,0.01,5,Snow,219
2013-2-7,61,46,30,46,35,25,93,66,39,30.17,...,10,7,3,18,7,23.0,0.14,3,Rain,165
2013-2-10,52,44,35,48,37,21,89,71,52,30.14,...,10,9,2,21,11,32.0,0.27,7,Rain,160
2013-2-18,58,43,27,43,30,13,86,61,36,30.13,...,10,10,5,32,15,44.0,0.39,4,Rain,179
2013-2-19,47,35,23,43,19,10,86,71,55,30.19,...,10,10,3,30,16,39.0,0.10,8,Rain-Snow,282
2013-2-21,33,24,15,27,20,12,88,71,54,30.35,...,10,7,0,23,10,32.0,0.30,5,Fog-Rain-Snow,91
2013-2-22,37,34,31,34,30,23,96,83,70,30.02,...,10,5,0,23,10,30.0,0.03,8,Fog-Rain,200
2013-2-26,44,40,35,43,35,23,93,72,50,29.77,...,10,5,1,21,9,25.0,1.17,8,Rain,109
2013-2-27,40,36,32,37,30,27,92,87,82,29.75,...,10,4,1,22,11,31.0,0.05,8,Snow,251
2013-2-28,37,35,32,32,30,27,96,86,76,30.01,...,10,7,1,15,8,21.0,0.01,8,Rain-Snow,295
2013-3-1,36,34,31,29,28,26,85,80,75,30.07,...,10,4,1,13,5,15.0,0.03,8,Snow,342
2013-3-5,40,35,29,37,29,24,100,80,59,29.91,...,10,3,0,26,10,44.0,0.26,8,Fog-Rain-Snow,280
2013-3-6,32,31,29,27,26,25,92,85,78,30.31,...,10,5,1,22,9,33.0,0.04,8,Snow,314

# If you want a bookthe bookon Data Science/Analysis
* Python for Data Analysis by William McKinney

In [28]:
# working generator example from notes
def is_prime(num):
    import math
    if num > 2 and num % 2 == 0:
        return False
    for pd in range(3, int(math.sqrt(num)) + 1, 2):
        if num % pd == 0:
            return False
    return True

def get_primes(num):
    # generator function to return next prime
    while True:
        if is_prime(num):
            # yield a number, and accept a new starting point
            num = yield num
            print('...get_primes received', num)
        num += 1

def print_successive_primes(iterations, base=10):
    prime_generator = get_primes(base)
    prime_generator.send(None)
    for power in range(iterations):
        print('sending', base ** power, 'into get_primes', end='')
        print(prime_generator.send(base ** power))

print_successive_primes(8)

sending 1 into get_primes...get_primes received 1
2
sending 10 into get_primes...get_primes received 10
11
sending 100 into get_primes...get_primes received 100
101
sending 1000 into get_primes...get_primes received 1000
1009
sending 10000 into get_primes...get_primes received 10000
10007
sending 100000 into get_primes...get_primes received 100000
100003
sending 1000000 into get_primes...get_primes received 1000000
1000003
sending 10000000 into get_primes...get_primes received 10000000
10000019